<div class="media-heading">
  <%= link_to notification.actor.email, main_app.admin_user_path(notification.actor) %> just submitted a news .
</div>
<%binding.pry%>
<div class =''>
	<%= notification.target.title %>
</div>