<% if user_signed_in? %>
        <div style="padding: 2%">
          <%#= link_to "Sign Out", destroy_user_session_path, class: "button button--alt", :method => :delete %>
        </div>
        <% if current_user.role.role_name == "Admin" || "Super Admin"%>
        <h3>Hello <%= current_user.role.role_name%></h3>
        <div style="padding: 2%">
          <%= link_to  "#{current_user.role.role_name } Dashboard ", admin_root_path , class: "button" %>
        </div>
        <% end %>
      <% else %>
        <%= link_to "Sign In", user_session_path, class: "button button--alt", :method => :post %>
      <% end %>

<h2>Hello Folks</h2>
<p>
  The time is now: <%= Time.now %>
  
</p>

<p>
	Welcome to News Feed Api App
</p>